body {

}
img {
  max-width: 100px;
  max-height: 75px;
}
.container {
  margin: 0 auto;
}
.center {
  text-align: center;
}

.flexColumn {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.list {
  max-width: 500px;
  border: 1px solid purple;
  margin: 10px auto;
}
.alignRight {
  /*display: inline;*/
  text-align: right;
}
.itemsTable {
  
}
